<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410551972094-tcqs8rmirbikkqn6cagsfr5vlcm1a4i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410551972094-tcqs8rmirbikkqn6cagsfr5vlcm1a4i4</string>
	<key>API_KEY</key>
	<string>AIzaSyDyNsh3n-_tLbpwRNNwyPhhZrSP5JQLtxM</string>
	<key>GCM_SENDER_ID</key>
	<string>410551972094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolgakaganaysu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-c97bf</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-c97bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410551972094:ios:92573b4972cca8885975af</string>
</dict>
</plist>